* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, rgb(235, 152, 191), rgb(125, 109, 128));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 45px 70px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease-in-out;
}

.icon {
    width: 70px;
    height: 70px;
    margin: auto;
    background: rgb(190, 190, 218);
    color: white;
    font-size: 36px;
    border-radius: 50%;
    line-height: 70px;
    margin-bottom: 20px;
}

.card h1 {
    color: black;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    margin-bottom: 25px;
}

.btn {
    text-decoration: none;
    background: #3498db;
    color: white;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 16px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #217dbb;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}