#nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(192, 187, 187);
}
.brand{
    font-size: 30px;
    display: flex;
    box-sizing: border-box;
    font-family: cursive;
    flex-direction: row;
    gap: 5px;
    color: rgb(205, 113, 128);
    align-items: center;
}
.brand img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
.menu a{
    color: black;
    text-decoration: none;
    display: flex;
}
.menu-item a:hover{
    background-color: rgb(205, 113, 128);
    color: black;
    transition: 0.3s;
    padding: 5px;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 50px;
}
.logo{
    color: rgb(205, 113, 128);
    font-family: cursive;
}
#page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
#page img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 25px;
}
#toggle{
    display: none;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .menu-toggle{
        display: none;
    }
    
  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .menu-icon {
    display: block;
  }
  .menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}